[Unit]
Description=Alertmanager
After=network-online.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/alertmanager
User={{ prometheus_user }}
Group={{ prometheus_group }}
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ alertmanager_bin_dir }}/current/alertmanager {% for k, v in (alertmanager_default_flags | combine(alertmanager_service_flags)).iteritems() %}-{{ k }}={{ v }} {% endfor %}

Restart=on-failure

[Install]
WantedBy=multi-user.target
