[Unit]
Description={{ prometheus_component_service_name }}
After=network-online.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/{{ prometheus_component_service_name }}
User={{ prometheus_user }}
Group={{ prometheus_group }}
ExecReload=/bin/kill -HUP $MAINPID
{% for item in prometheus_component_env_vars | default({}) | dict2items() %}
Environment={{ item.key }}={{ item.value }}
{% endfor %}
{% if prometheus_component_service_args %}
ExecStart={{ prometheus_component_install_dir }}/current/{{ prometheus_component_name }} {{ prometheus_component_service_args | trim }}
{% else %}
ExecStart={{ prometheus_component_install_dir }}/current/{{ prometheus_component_name }}
{% endif %}
Restart=on-failure
{% if prometheus_component_service_capabilities is defined and prometheus_component_service_capabilities %}
CapabilityBoundingSet={{ prometheus_component_service_capabilities }}
{% endif %}

[Install]
WantedBy=multi-user.target
